* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4c531;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background-color: #ffffff;
  width: 35%;
  border: 10px solid #ffffff;
  border-radius: 10px;
  padding: 20px 20px 0 20px;
}

.recipe-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#input-btn {
  width: 100%;
  font-size: 15px;
  padding: 15px 0 15px 0;
  border: #ffffff;
  border: none;
  outline: none;
  border-bottom: 2px solid #202030;
}

#search-btn {
  padding: 15px 5px 15px 5px;
  background-color: #f4c531;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: black;
  width: 30%;
  font-weight: bold;
  border-radius: 0.3em;
}

#output {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-img {
  display: block;
  width: 50%;
  height: 200px;
}

.container2 {
}

#upper-section {
  background-color: #f4c531;
  padding: 1rem;
}

#upper-section h2 {
  font-size: 20px;
  font-weight: bold;
}

#upper-section h4 {
  font-size: 15px;
  font-weight: lighter;
  padding-top: 5px;
}

ul {
  font-size: 12px;
  margin: 15px 0px 0px 30px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em 3em;
  padding: 1.2em 1.8em 0 1.2em;
  color: #303040;
  text-transform: capitalize;
  list-style-position: inside;
  text-align: left;
}

.lower-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 10px solid #ffffff;
}

#youtube-link {
  background-color: #f4c531;
  border: none;
  font-size: 10px;
  color: black;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.3em;
  padding: 10px;
  width: 60%;
}

a {
  color: black;
}

#show-recipe {
  width: 30%;
  background-color: #f4c531;
  border: none;
  font-size: 10px;
  color: black;
  font-weight: bold;
  border-radius: 0.3em;
  padding: 0.6rem;
}

.recipe {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #ffffff;
  width: 900px;
  min-height: fit-content;
  border: 10px solid #ffffff;
  margin-top: -13px;
  margin-left: -10px;
  border-radius: 10px;
  display: none;
  text-align: center;
}

.text {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 35px;
  font-size: 25px;
  font-weight: 100;
  color: #303040;
  text-align: left;
}

@media only screen and (min-width: 300px) and (max-width: 760px) {
  .container {
    width: 100%;
  }
}
