* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}

body {
    background-color: #f4c531;
    overflow: hidden;
}

.container {
    background-color: #ffffff;
    width:900px;
    height:200px;
    position: absolute;
    transform: translate(-50%, -50%);
    top:10%;
    left: 50%;
    border:10px solid #ffffff;
    border-radius: 10px;
}

#input-btn {
    margin-right:0px;
    margin-left:60px;
    margin-bottom:60px;
    margin-top:60px;
    height:80px;
    width:600px;
    font-size:25px;
    padding:10px;
    border:#ffffff;
    border: none;
    outline: none;
    border-bottom: 2px solid #202030;
}

#search-btn {
    background-color: #f4c531;
    border: none;
    font-size:25px;
    color:black;
    width:140px;
    height:80px;
    font-weight:bold;
    border-radius: 0.3em;
}

#output {
    position: relative;
    top:-12px;
    width:900px;
    left:-10px;
    text-align: center;
}

img {
    display:block;
    margin:-10px auto 0 auto;
    width:50%;
    height:300px;
}

.container2 {
     height:auto;
     width:auto;
}

#upper-section {
    background-color:#f4c531;
    height:110px;
    margin:0px 40px 0px 40px;
    padding:15px;
    position:relative;
}

#upper-section h2 {
    font-size: 40px;
    font-weight:bolder;
}

#upper-section h4 {
    font-size:30px;
    font-weight: lighter;
}

ul {
   font-size: 25px;
   margin:15px 0px 0px 30px;
   position: relative;
   /* To arrange them in two columns */
   display: grid;
   grid-template-columns: auto auto;
   gap: 0.8em 1.1em;
   padding: 1.2em 1.2em 0 1.2em;
   color: #303040;
   text-transform: capitalize;
   list-style-position: inside;
   text-align: left;
}


.lower-section {
    height:150px;
    width:200px;
    margin:50px 0px 0px 0px;
    background-color: #ffffff;
    border-bottom: 10px solid #ffffff;
}

#youtube-link {
    position: fixed;
    background-color: #f4c531;
    border: none;
    font-size: 25px;
    color: black;
    width: 500px;
    height: 80px;
    font-weight: bold;
    border-radius: 0.3em;
    padding:10px;
    margin-left:-50px;
}

a {
    color:black;
} 

#show-recipe {
    position: fixed;
    background-color: #f4c531;
    border: none;
    font-size: 25px;
    color: black;
    width: 200px;
    height: 80px;
    font-weight: bold;
    border-radius: 0.3em;
    margin-left:550px;
}  

.recipe {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    width: 900px;
    min-height: fit-content;
    border: 10px solid #ffffff;
    margin-top:-13px;
    margin-left:-10px;
    border-radius: 10px;
    display: none; 
    text-align: center;
}

.text {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 35px;
    font-size:25px;
    font-weight: 100;
    color: #303040;
    text-align: left; 
} 
